In [1]:
#Dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [6]:
my_dict = {'Name': ['John', 'Sachin', 'Aishwarya', 'Dhanashri'],
        'Age': [25, 30, 35, 40],
        'Gender':['m','m','f','f'],
        'City': ['New York', 'India', 'London', 'Tokyo'],}
my_dict
import pandas as pd
pd.DataFrame(my_dict)

        Name  Age Gender      City
0       John   25      m  New York
1     Sachin   30      m     India
2  Aishwarya   35      f    London
3  Dhanashri   40      f     Tokyo

In [8]:
#keys 
my_dict  = {'a': 1, 'b': 2, 'c': 3}
keys = my_dict.keys()
print("Keys:", keys)

Keys: dict_keys(['a', 'b', 'c'])

In [9]:
# Using dict.values() to get a list of values
values = my_dict.values()
print("Values:", values)

Values: dict_values([1, 2, 3])

In [10]:
my_dict.items()
print("Items:", items)

Items: dict_items([('a', 1), ('b', 2), ('c', 3)])

In [12]:
#value
value = my_dict.get('a')
print("Value of 'a':", value)

Value of 'a': 1

In [13]:
removed_item = my_dict.pop('b')
print("Removed item:", removed_item)

Removed item: 2

In [16]:
#update
my_dict.update(my_dict)
print("Merged dictionary:", my_dict)

Merged dictionary: {'a': 1, 'c': 3}

In [17]:
#remove
my_dict.clear()
print("Cleared dictionary:", my_dict)

Cleared dictionary: {}

In [21]:
original_dict = {'x': 10, 'y': 20}
copy_dict = original_dict.copy()
print("Copy dictionary:", copy_dict)

Copy dictionary: {'x': 10, 'y': 20}

In [20]:
#modify
copy_dict['z'] = 30
print("Modified copy dictionary:", copy_dict)

Modified copy dictionary: {'x': 10, 'y': 20, 'z': 30}